@IMG_PATH: "../../shared/img/";

.about-link {
  color: #000000;
  text-decoration: none;
}

.about-links {
  display: flex;
  justify-content: space-evenly;
}

.eloise {
  background-image: url("@{IMG_PATH}eloise.jpg");
  background-size: cover;
  background-position: center;

  float: left;
  height: 250px;
  width: 170px;

  margin: 20px 10px 0 0;
}