@screen-size: 470px;

.header-link {
  color: #ffffff;
  text-decoration: none;

  padding: 5px;

  &:hover {
    background-color: #222222;
  }
}

.link-icon {
  margin-right: 5px;
}

@media(max-width: @screen-size) {
  .auto-hide {
    display: none;
  }
}