.infobox {
  border: 2px solid;
  border-radius: 8px;
  margin: 10px 0;
  padding: 5px;

  &.hidden {
    display: none;
  }
}

.ib-icon {
  padding: 0 3px;
}

.ib-delivery {
  background-color: #eeffe2;
  border: 1px solid #358000;

  .ib-icon {
    color: #358000
  }
}

.ib-error {
  background-color: #ffe0e0;
  border: 1px solid #c00;

  .ib-icon {
    color: #c00
  }
}

.ib-info {
  background-color: #e2f2fb;
  border: 1px solid #1b86c3;

  .ib-icon {
    color: #1b86c3
  }
}

.ib-warn {
  background-color: #fec;
  border: 1px solid #febb30;

  .ib-icon {
    color: #fdb626;
  }
}