@IMG_PATH: "../../shared/img/";

.charlotte {
  background-image: url("@{IMG_PATH}charlotte.jpg");
}

.chocolate-caramel {
  background-image: url("@{IMG_PATH}chocolate_caramel.jpg");
}

.chocolate-tonka {
  background-image: url("@{IMG_PATH}chocolate_tonka.jpg");
}

.galette {
  background-image: url("@{IMG_PATH}galette.jpg");
}

.parisbrest-small {
  background-image: url("@{IMG_PATH}parisbrest-s.jpg");
  
}

.parisbrest-medium {
  background-image: url("@{IMG_PATH}parisbrest.jpg");
}

.raspberry-macaron {
  background-image: url("@{IMG_PATH}raspberry_macaron.jpg");
}