@IMG_PATH: "../../shared/img/";

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-page0 {
    content: "@{IMG_PATH}menu.png"
}

.m-page1 {
    content: "@{IMG_PATH}menu1.png"
}