@IMG_PATH: "../../shared/img/";

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.m-page0 {
    content: url("@{IMG_PATH}menu.png");
    max-width: 50%;
    max-height: 570px;
}

.m-page1 {
    content: url("@{IMG_PATH}menu1.png");
    max-width: 50%;
    max-height: 570px;
}